@using Mathster.Models
<div class="container">
    <div class="menuChoice" id="multiplication">
        <ul>
            <li>Multiplikation</li>
            <li><a asp-controller="Game" asp-route-level="@nameof(Level.Easy)" asp-route-gametype="@nameof(GameType.Multiplication)">Lätt</a></li>
            <li><a asp-controller="Game" asp-route-level="@nameof(Level.Medium)" asp-route-gametype="@nameof(GameType.Multiplication)">Medel</a></li>
            <li><a asp-controller="Game" asp-route-level="@nameof(Level.Hard)" asp-route-gametype="@nameof(GameType.Multiplication)">Svår</a></li>
        </ul>
    </div>

    <div class="menuChoice" id="division">
        <ul>
            <li>Division</li>                      
            <li><a asp-controller="Game" asp-route-level="@nameof(Level.Easy)" asp-route-gametype="@nameof(GameType.Division)">Lätt</a></li>
            <li><a asp-controller="Game" asp-route-level="@nameof(Level.Medium)" asp-route-gametype="@nameof(GameType.Division)">Medel</a></li>
            <li><a asp-controller="Game" asp-route-level="@nameof(Level.Hard)" asp-route-gametype="@nameof(GameType.Division)">Svår</a></li>
        </ul>                                                                 
    </div>

    <div class="menuChoice" id="addition">
        <ul>
            <li>Addition</li>                      
            <li><a asp-controller="Game" asp-route-level="@nameof(Level.Easy)" asp-route-gametype="@nameof(GameType.Addition)">Lätt</a></li>
            <li><a asp-controller="Game" asp-route-level="@nameof(Level.Medium)" asp-route-gametype="@nameof(GameType.Addition)">Medel</a></li>
            <li><a asp-controller="Game" asp-route-level="@nameof(Level.Hard)" asp-route-gametype="@nameof(GameType.Addition)">Svår</a></li>
        </ul>                                                                 
    </div>

    <div class="menuChoice" id="subtraction">
        <ul>
            <li>Subtraktion</li>                                           
            <li><a asp-controller="Game" asp-route-level="@nameof(Level.Easy)" asp-route-gametype="@nameof(GameType.Subtraction)">Lätt</a></li>
            <li><a asp-controller="Game" asp-route-level="@nameof(Level.Medium)" asp-route-gametype="@nameof(GameType.Subtraction)">Medel</a></li>
            <li><a asp-controller="Game" asp-route-level="@nameof(Level.Hard)" asp-route-gametype="@nameof(GameType.Subtraction)">Svår</a></li>
        </ul>
    </div>
    <div class="menuChoice" id="settings"></div>
    <div class="menuChoice" id="statistic"></div>
    <div class="menuChoice" id="videos"></div>
</div>




<link href="~/Scripts/StartPage.css" rel="stylesheet" />